name: Deploy Next.js App

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH key
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository }}/nextapp:latest .

      - name: Login to GitHub Container Registry
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | \
          docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Push Docker Image
        run: docker push ghcr.io/${{ github.repository }}/nextapp:latest

      - name: Deploy to EC2
        run: |
          ssh -i key.pem -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_IP }} "
            echo '${{ secrets.GHCR_TOKEN }}' | docker login ghcr.io -u '${{ github.actor }}' --password-stdin
            docker pull ghcr.io/${{ github.repository }}/nextapp:latest
            docker stop app || true
            docker rm app || true
            docker run -d -p 3000:3000 --name app ghcr.io/${{ github.repository }}/nextapp:latest
          "

      - name: Notify Lambda
        run: |
          curl --fail --show-error -X POST \
            -H "Content-Type: application/json" \
            -d "{
              \"status\": \"success\",
              \"commit\": \"${{ github.sha }}\",
              \"branch\": \"${{ github.ref_name }}\",
              \"triggered_by\": \"${{ github.actor }}\",
              \"timestamp\": \"${{ github.event.head_commit.timestamp }}\"
            }" \
            "${{ secrets.LAMBDA_URL }}"
